.container {
    display: flex;
    width: 90%;
    margin: 8rem auto 0 auto;
}

.box1,
.box2 {
    flex: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box1 h2,
.box2 h2,
.box1 h3,
.box2 h3 {
    background-image: linear-gradient(to right, #ff00ea, #ff0080);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.line {
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    box-shadow: 0px 0 10px 1px #f0f;

}

.main {
    z-index: 1;
    width: 90%;
    margin: 0 auto;
    margin-top: 8rem;
    background-color: rgba(255, 255, 255, 0.043);
    backdrop-filter: blur(0px);
    /*blur effect*/
    -webkit-backdrop-filter: blur(0px);
    border-radius: 25px;
    border: 1.5px solid rgba(255, 255, 255, 0.079);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.dashboard{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    color: #ff00ffac;
    font-size: 1.1rem;
    font-weight: 600;
}
.input_section{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
    gap: 3rem;
}
.input_section label{
    color: grey;
    font-size: 1.1rem;
}
.input_section input{
    border: none;
    height: 3rem;
    width: 16rem;
    background-color: transparent;
    border-bottom: 2px solid grey;
    font-size: 1.2rem;
    transition: all .25s;
}
.input_section input:focus{
    border-bottom: 2px solid #ff00ea;
    outline: none;
}

.button_sction{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.button_sction button{
    font-size: 1.2rem;
    background-color: #85007a;
    padding: .9rem;
    width: 12rem;
    border: none;
    border-radius: 10px;
    color: rgb(209, 209, 209);
    cursor: pointer;
    transition: all .25s;
    &:hover{
        background-color: #ff00ea;
        color: white;
    }
}

.shadows{
    width: 14rem;
    background-color: #ff00ea12;
    height: 14rem;
    position: absolute;
    left: 8%;
    top: 32rem;
    z-index: -1;
    box-shadow: 0px 0px 10px 20px #ff00ea12;
    border-radius: 180px;
    animation-name: shadow;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
.shadows2{
    width: 12rem;
    background-color: #ff00ea12;
    height: 12rem;
    position: absolute;
    right: 8%;
    top: 23rem;
    z-index: -1;
    box-shadow: 0px 0px 10px 20px #ff00ea12;
    border-radius: 180px;
    animation-name: shadow;
    animation-duration: 15s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes shadow{
    0%{
        transform: translateX(20px);
    }
    25%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateX(-20px);
    }
    75%{
        transform: translateY(20px);
    }
    100%{
        transform: translateX(0px) translateY(0px);
    }
}

@media screen and (max-width: 768px) {
    .main{
        margin-bottom: 4rem;
    }
    .container {
        flex-direction: column;
        gap: 3rem;
    }
    .dashboard{
        flex-direction: column;
        gap: 2rem;
    }
    .button_sction{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .button_sction button{
        width: 60%;

    }
}